.resume--body--workexperience--card {
	width: 45%;
	background-color: #fff;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
	margin: 50px;
	border-radius: 3px;
	max-width: 500px;
	min-width: 500px;
	display: flex;
	flex-direction: column;
}

.resume--body--workexperience--card img {
	height: 350px;
}

.resume--body--workexperience--header {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 10px;
	color: #fff;
	background-color: #ec6868;
}

.resume--body--workexperience--header h1 {
	margin: 0;
}

.resume--body--workexperience--details {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
	line-height: 1.7;
	flex: 1;
}

.resume--body--workexperience--details p {
	color: #5a5a67;
	font-size: 1.2em;
}

.resume--body--workexperience--worktasks--list {
	width: 100%;
	text-align: left;
	margin: 0 0 0 10px;
	padding: 0;
}

.resume--body--workexperience--worktasks--list li {
	color: #5a5a67;
	padding: 5px;
	margin-left: 20px;
}

.resume--body--workexperience--footer {
	display: flex;
	justify-content: space-around;
	background-color: #406f9e;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.resume--body--workexperience--footer p {
	color: #fff;
}

.resume--body--workexperience--footer--header {
	font-size: 1.1em;
	font-weight: bold;
}

@media (max-width: 600px) {
	.resume--body--workexperience--card {
		width: 100%;
		min-width: 100%;
	}
}
